.inicio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #000; /* Fondo negro */
  height: 70vh;
  box-sizing: border-box;
  color: white; /* Texto blanco */
}

/* Sección de texto */
.inicio-text {
  flex: 1;
  text-align: left;
  padding: 35px;
}

.inicio-text h1 {
  color: #16a34a; /* Verde llamativo */
  font-size: 4rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra para el texto */
}

.inicio-text p {
  color: #ddd; /* Gris claro */
  font-size: 1.5rem;
  line-height: 1.8;
}

/* Sección del logo */
.inicio-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio-logo img {
  height: 250px; /* Tamaño más grande */
  animation: rotate 10s linear infinite; /* Rotación más lenta */
  filter: drop-shadow(0 0 10px #16a34a) drop-shadow(0 0 20px #16a34a);
}

/* Animación de rotación */
@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}