<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Esta no es la llama que buscas</title>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/404.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <%- include('../layouts/header') %>

  <section class="error404">
    <h2>404</h2>
    <p>La página que buscas no existe.</p>
  </section>

  <%- include('../layouts/footer') %>
</body>
</html>