<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flavor Route</title>
  
  <!-- Estilos CSS -->
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
</head>
<body>
  <%- include('../layouts/header') %>

  <main>
    <section class="hero">
      <div class="hero-content">
        <div class="hero-text">
          <h1>La ruta del sabor</h1>
          <p>Descubre los mejores sabores de cada rincón del país con nosotros.</p>   
        </div>
        
        <div class="hero-image">
          <img src="/assets/img/hero-image.png" alt="Imagen destacada de La ruta del sabor" loading="lazy">
        </div>
      </div>
    </section>    

    <section>
      <h2>bla bla bla ble ble ble blu blu blu</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum modi est eius repellat quo unde maiores natus, quaerat non sunt! Ipsum molestias eos deleniti, maiores consequatur quas sunt suscipit debitis!</p>
    </section>
    <section>
      <h2>bla bla bla ble ble ble blu blu blu</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum modi est eius repellat quo unde maiores natus, quaerat non sunt! Ipsum molestias eos deleniti, maiores consequatur quas sunt suscipit debitis!</p>
    </section>
    <section>
      <h2>bla bla bla ble ble ble blu blu blu</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum modi est eius repellat quo unde maiores natus, quaerat non sunt! Ipsum molestias eos deleniti, maiores consequatur quas sunt suscipit debitis!</p>
    </section>
    <section>
      <h2>bla bla bla ble ble ble blu blu blu</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum modi est eius repellat quo unde maiores natus, quaerat non sunt! Ipsum molestias eos deleniti, maiores consequatur quas sunt suscipit debitis!</p>
    </section>
    <section>
      <h2>bla bla bla ble ble ble blu blu blu</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum modi est eius repellat quo unde maiores natus, quaerat non sunt! Ipsum molestias eos deleniti, maiores consequatur quas sunt suscipit debitis!</p>
    </section>
    <section>
      <h2>bla bla bla ble ble ble blu blu blu</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum modi est eius repellat quo unde maiores natus, quaerat non sunt! Ipsum molestias eos deleniti, maiores consequatur quas sunt suscipit debitis!</p>
    </section>
  </main>

  <%- include('../layouts/footer') %>
</body>
</html>