<header>
    <h1>La Ruta del Sabor</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/menus">Menús</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
  </header>
  