<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Esta no es la llama que buscas</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/404.css">
</head>
<body>
  <%- include('../components/header') %>

  <section class="error404">
    <h2>404</h2>
    <p>La página que buscas no existe.</p>
  </section>

  <%- include('../components/footer') %>
</body>
</html>