<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menus - The Flavor Route</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon">
  </head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <body>
    <%- include('../components/header') %>
    <main>
        <section class="contact-info-container">
            <h2>Contáctanos</h2>
            <ul class="contact-info">
                <li><strong>Correo Electrónico:</strong> <a href="mailto:tu_email@gmail.com">tu_email@gmail.com</a></li>
                <li><strong>Teléfono:</strong> <a href="tel:+1234567890">+123 456 7890</a></li>
                <li><strong>Dirección:</strong> Calle Ejemplo 123, Ciudad de Muestra</li>
            </ul>
        </section>
    </main>
    <footer class="footer">
        <p>&copy; 2025 La Ruta del Sabor. Todos los derechos reservados.</p>
    </footer>
</body>
</html>