<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Contact - The Flavor Route</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/contact.css">
  <link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon">
</head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
<body>
  <%- include('../components/header') %>

  <section class="contacto">
    <h2>Contáctanos</h2>
    <p>Dirección: Calle Sabor 123, Ciudad Gastronómica</p>
    <p>Teléfono: +52 123 456 7890</p>
    <p>Email: larutadelsabor@gmail.com</p>
  </section>

  <%- include('../components/footer') %>
</body>
</html>