<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flavor Route</title>
  
  <!-- Estilos CSS -->
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon">
  
</head>
<body>
  <%- include('../components/header') %>


  <div class="inicio-container">
    <!-- Texto de bienvenida -->
    <div class="inicio-text">
      <h1 class="animate-title">The Flavor Route</h1>
      <p class="animate-text">Four cultures, one unique pleasure.</p>
    </div>

    <!-- Logo -->
    <div class="inicio-logo">
      <img src="/assets/images/logo.png" alt="Logo"> <!-- Asegúrate de que la ruta del logo sea correcta -->
    </div>
  </div>


  <%- include('../components/footer') %>
</body>
</html>