<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>La Ruta del Sabor</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/home.css"></head>
<body>
  <%- include('../components/header') %>

  <section class="hero">
    <h2>Bienvenidos a La Ruta del Sabor</h2>
    <p>Descubre los sabores que enamoran tu paladar.</p>
  </section>

  <%- include('../components/footer') %>
</body>
</html>
