.hero {
    background-color: rgb(0, 95, 150);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero-text {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.hero-text h1 {
    color: rgb(255, 183, 3);
    font-size: 3rem;
}

.hero-text p {
    max-width: 400px;
    color: rgb(230, 240, 255);
    font-size: 1.5rem;
}

.hero-image img {
    max-width: 300px;
    width: 100%;
    height: auto;
}