<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio | La Ruta del Sabor</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <%- include('../components/header/header') %>

  <section class="hero">
    <h2>Bienvenidos a La Ruta del Sabor</h2>
    <p>Descubre los sabores que enamoran tu paladar.</p>
  </section>

  <%- include('../components/footer/footer') %>
</body>
</html>
