<footer class="footer">
  <div class="footer-container container">
    <p>&copy; 2025 The Flavor Route. All rights reserved.</p>
    <div class="footer-social">
      <a href="https://www.instagram.com/la.ruta.del.sabor/"><i class="fab fa-instagram"></i></a>
      <a href="https://x.com/LaRutaDelSabor"><i class="fab fa-twitter"></i></a>
      <a href="https://www.tiktok.com/@la.ruta.del.sabor"><i class="fab fa-tiktok"></i></a>
    </div>
  </div>
</footer>