<header>
  <nav>
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/carta">Carta</a>
        </li>
        <li>
            <a href="/reservar">Reservar</a>
        </li>
        <li>
            <a href="/contacto">Contacto</a>
        </li>
    </ul>
  </nav>
</header>